/* ============================ Colors ============================ */
@define-color background #011627;
@define-color background-light #063257;
@define-color text #EDE7B6;
@define-color accent #3B8994;
@define-color accent-light #AECFC5;
@define-color orange #D37537;
@define-color orange-light #FFC96B;
@define-color red #C82D31;