@import url("../colors.css");

* {
    padding: 0;
    margin: 0;
    font-family: "SpaceMono Nerd Font", "Space Mono", "Space Grotesk", "Noto Sans SC";
    color: @text;
    background: transparent;
}

.modules-left, .modules-center, .modules-right {
    background-color: @background;
    background: linear-gradient(0deg, @background 60%, @background-light 100%);
    border: solid 2px @accent;
}

.module, tooltip label {
    padding: 4px 12px 4px 12px;
}

#custom-spacer, #workspaces {
    padding: 0;
}

tooltip {
    background-color: @background;
    border: solid 2px @accent;
    border-radius: 0px;
}

/* ========================= Left Modules ========================= */
#workspaces button {
    padding: 0px 8px 0px 10px;
    border-radius: 0px;
}

#workspaces button.focused {
    padding: 0px 7px 0px 9px;
    background-color: @accent;
    background: linear-gradient(0deg, @accent 60%, @accent-light 100%);
    border: groove 2px @accent;
}

/* ---------------------- Group/info Modules ---------------------- */
.info-items {
    background-color: @accent;
    background: linear-gradient(0deg, @accent 60%, @accent-light 100%);
    border-top: groove 2px @accent;
    border-bottom: groove 2px @accent;
}

#custom-info-toggle {
    padding: 4px 15px 4px 11px;
    background-color: @background;
    background: linear-gradient(0deg, @background 60%, @background-light 100%);
}

#cpu {
    padding: 4px 12px 4px 11px;
    border-left: groove 2px @accent;
}

#memory {
    padding: 4px 16px 4px 12px;
}

#network {
    padding: 4px 13px 4px 13px;
}

#pulseaudio.mic {
    padding: 4px 13px 4px 15px;
    border-right: ridge 2px @accent;
}

/* Adjust padding for muted icon */
#pulseaudio.mic.source-muted {
    padding: 4px 17px 4px 11px;
}

/* ========================= Right Modules ======================== */
#privacy {
    padding: 4px 10px 4px 12px;
}

#pulseaudio.volume {
    padding: 4px 17px 4px 11px;
}

#tray {
    padding: 4px 12px 4px 12px;
}

#custom-notifs {
    padding: 4px 13px 4px 9px;
}

/* ---------------------------- Battery --------------------------- */
#battery {
    padding: 4px 16px 4px 11px;
}

#battery:not(.charging).warning {
    background-color: @orange;
    background: linear-gradient(0deg, @orange 60%, @orange-light 100%);
    animation: blink 1s steps(2) infinite;
}

#battery:not(.charging).critical {
    background-color: @red;
    background: linear-gradient(0deg, @red 60%, @orange-light 100%);
    animation: blink 0.25s steps(2) infinite;
}

@keyframes blink {
    50% {
        background-color: transparent;
        background: transparent;
    }
}
